.cardimage{
    width: 100%;

}
.cardsideimg{
    padding: 1px 32px;
    border-radius: 100%;
}
.category .nav-item{
    display: inline-block;
    text-align: center;
   border: none;
}
.card_paragraph {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
}
.submenu img{
    padding: 1px 10px;
}
.category .nav-link img{
    padding: 1px 20px;
}
.category .nav-link{
    /* border: 1px solid #ded1c1; */
}
.tborder{
    height: 50px;
}
.cursor-pointer{
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #C7A073;
    color:#fff !important;
}
.category a{
    color: black !important;
}
.submenu img{
    width: 100%;
    
}

.submenu{
    margin-left: 5px;
}

.modal-container{
    max-width: 50% !important;
}

.allowloyalty{
    padding-top: 30px;
    justify-content: center;
}
.allowloyalty .noloyal{
    margin-left: 10px;
    margin-right: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* padding: 0 20px; */
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
.carousel-indicators{
    display: none;
}
.menu_lists{
    text-align: center;
    background-image: url('../images/burger.jpg');
    background-size: cover;
    background-repeat: no-repeat;
 
    border-bottom: 1px solid #fff;
  
}
.menu_lists1{
    text-align: center;
    background-image: url('../images/Biryani.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid #fff;
  
}
.menu_lists2{
    text-align: center;
    background-image: url('../images/chicken.webp');
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid #fff;
  
}
.menu_lists3{
    text-align: center;
    background-image: url('../images/salad.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid #fff;
  
}
div.transbox {
    background-color: #000000;
    height: 82px;
    border: 1px solid black;
    opacity: 0.5;
  }
  .transbox p{
    color: #fff;
    padding-top: 25px;
  }
  .buttons{
    width: -webkit-fill-available;
    margin: 5px;
    border-radius: 20px;
  }
  .profile_image{
height: 75px;
}
.order_card{
    border: 1px solid lightgray;
    border-radius: 8px;
}
.burger_image {
    height: 70px;
    width: -webkit-fill-available;
    border-radius: 12px;
}
.additem{
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
}
.varients{
    border-radius: 8px;
    border: 1px solid lightgray;
    margin: 2px;
}
